*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.homepage {
  display: grid; 
  grid-template-columns:  1.4fr 0.4fr ; 
  
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 
    margin-left: 200px;
    /* padding: 1px 21px; */
    /* height: 1000px; */
  /* width: 60%;
   */
}



header{
  
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  text-align: center;
  height: 100%;
  overflow: auto;

}

header a{
  
    display: block;
    color: black;
    /* padding: 16px; */
    padding: 1em 5px;
  margin: auto;
  font-size: 1.3em;
    text-decoration: none;
  
}
.logo{
  margin: 1em auto;
}


.logo a{
  font-size: 2.5em;
  /* margin: 1em auto; */
  color: red;
  padding: 1em;
}


ul{
  display: block;
  padding: 1em 10px;
 
  margin: auto;
  list-style-type: none;
}


.forms{
  background-color: #f7f9fa;
}


.formzz{
  margin: 7em 1em;
  width: 95%;
  padding: 1em;
}

.formzz input{
  border-radius: 15px;
  width: 100%;
  padding: 8px;
  border: 1px solid gray;

}

input, textarea:focus{
  
  outline: none;
}



.article-main{
  text-align: center;
  margin: 1em auto;
}

.article-main h1{
  color: red;
  font-size: 1.5em;
  padding: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.card{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(165, 162, 162) ;
  padding: 1.6em 1em;
}

.items{
  text-align: left;
  padding: 10px 6px;
}

.items h3{
  /* font-style: italic; */
  font-family: 'Times New Roman', Times, serif;
  color: rgb(31, 29, 29);
  padding: 9px .8em;
}

.items h3 span{
  font-size: 1em;
  padding: 0px 1.8em;
  color: rgb(99, 100, 102);
}

.items p{
  padding: 1em 5px 5px 0.3em;
  width: 75%;
}


.article{
  border-right: 1px solid rgb(230, 230, 230) ;
  display: inline-block;
  justify-content: space-between;
  
}
.article img{
  width: 100%;
}
.images{
  width: 40%;
}
.article-one{
  border-right: 1px solid rgb(230, 230, 230) ;
}

.links{
  text-decoration: none;
  color: black;
  /* color: rgb(11, 11, 228); */
}

.links h3{
  text-decoration: none;
}
a.active{
  color: #009acd;
  font-weight: bold;
  /* border-bottom: 2px solid black;
   */
}

.story{
  text-align: center;
  margin-top: 1em;
  padding: 1em 1.6em;
  border-bottom:1px solid rgb(230, 230, 230) ; 
  
}
.story img{
  width: 50%;
  margin: 1em 14em auto ;

}
.author span{
  padding: 12px 18px;
}

.likes{
  display: flex;
  justify-content: space-evenly;
}

.likes button{
  background-color: transparent;
  border: none;
  margin: 1em auto auto 0.5em;
  font-size: 1.6em;

}

.likes button:hover{
  color: red;
}

.heart p{
  
  padding: 6px;
}

.hearts button{
  background-color: transparent;
  border: none;
  margin: 1em auto auto 0.5em;
  font-size: 1.6em; 
}

.hearts button:hover{
  color: red;
}

.formz{
  width: 100%;
  padding: 16px 8px;
  margin: auto;
  background: #fcfcfc;
  box-shadow:  15px 2px 10px #e9e6e6,
             15px -2px 10px #faf2f2;
  
  
}
.formz input, textarea{
  margin: 0.5em auto;
  width: 50%;
  padding: 16px 18px;
  border-radius: 3px;
  border: none;
background: #fcfcfc;
box-shadow:  15px 2px 10px #e9e6e6,
             15px -2px 10px #faf2f2;
}

.but{
  display: flex;
  justify-content: space-evenly;
  /* margin: 0.3em 10em; */
}

.btns{
  background-color: brown;
  border: none;
  margin: 1em 9em ;
  padding: 14px 17px;
  color: white;
}
.but button{
  
  align-items: flex-end;
  
  border: none;
  color: rgb(70, 67, 67);
  background-color: transparent;
 
  border: none;
  
  font-size: 1.6em; 

}

.cardss{
  margin: 1em auto;
  display: inline-block;
  width: 60%;
  justify-content: center;
  border-top: 1px solid rgb(156, 153, 153);

}

.com{
  /* background-color: #e9e6e6; */
  padding: 1em;
  text-align: left;
  border-bottom: 1px solid rgb(219, 222, 223);
}

.com p{
  padding: 10px 2px;
  overflow: hidden;
}
.reviews{
  margin: 1em auto;
}
.name{
  font-weight: bold;
  font-size: 1.2em;
}
.tags{
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  color: rgb(36, 34, 34);
  padding: 1.2em 5px;
  font-weight: bold;
}

.disc{
  padding: 1em;

}
.disc p{
  margin: auto;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding: 8px 17px;
}

.disc a{
  margin: 1em;
  padding: 1em;
  color: blue;
  letter-spacing: 2px;
  text-decoration: none;
}

.disc span{
  /* display: flex;
  justify-content: space-between; */
  padding: 1.3em 10px;
  margin-top: 1em;
  align-items: center;
  text-align: center;
  color: rgb(5, 6, 97);
  font-weight: bold;

}

.about-page h1{

  text-align: center;
  font-weight: bold;
  padding: 1em;
  font-size: 1.5em;

  /* display: flex;
  justify-content: center; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)),url('../public/images/wal.jpg');
 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; */
}
.imgs{
  width: 50%;
}
.about-page img{
  width: 100%;
  height: 100vh;

}
.about{
  display: flex;
  justify-content: center;
  padding-top: 2em;
  /* color: white; */
  margin:  auto;
  /* text-align: center; */
  letter-spacing: 2px;
  width: 100%;

}

.about-sect{
  width: 38%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1.4em;
  text-align: left;

}
/* .about h1{
  color: red;
  padding: 1em;
  
  font-size: 1.4em;
} */

.about h2{
  font-size: 1.6em;
  color: #009acd;
  padding: 7px 0.6em;
  font-weight: bold;

}

.top-text{
  text-align: center;
  margin: 0.5em auto;
  padding: 15px 17px;

}

.top-text h1{
  font-size: 2em;
  color: red;
  font-weight: bold;
}

.image{
  margin: auto 1.3em;
}
.image img{
  width: 80%;
  margin: auto;
  
}

.arts{
  align-items: center;
  display: inline-block;
  text-align: center;
  margin: auto 3em;
  

}
.tests{
  margin: auto 3em;
}
.image p{
  width: 70%;
  padding: 1.5em 2em;
  text-align: left;
  
}

.image h1{
  padding: 12px 2em;
  font-size: 1.5em;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

.error{
  margin: 2em auto;
  text-align: center;
  font-size: 1.4em;
}


footer{
  padding: 5em 0.5em 0.5em 5px;

}